@using System.Web.Http
@using System.Web.Http.Description
@using Kms.Cloud.Api.Areas.HelpPage.Models
@using Kms.Cloud.Api.Areas.HelpPage.ModelDescriptions
@model HelpPageApiModel

@{
    ApiDescription description = Model.ApiDescription;
}
<h1>@description.HttpMethod.Method @description.RelativePath</h1>
<div>
    <p>@description.Documentation</p>

    <h2>Información de Petición</h2>

    <h3>Parámetros en URI (QueryString)</h3>
    @Html.DisplayFor(m => m.UriParameters, "Parameters")

    <h3>Parámetros en Cuerpo</h3>

    <p>@Model.RequestDocumentation</p>

    @if (Model.RequestModelDescription != null) {
        @Html.DisplayFor(m => m.RequestModelDescription.ModelType, "ModelDescriptionLink", new { modelDescription = Model.RequestModelDescription })
        <br /><br />
        if (Model.RequestBodyParameters != null) {
            @Html.DisplayFor(m => m.RequestBodyParameters, "Parameters")
        }
    }
    else
    {
        <p>Ninguno.</p>
    }

    @if (Model.SampleRequests.Count > 0)
    {
        <h3>Formatos de Petición</h3>
        @Html.DisplayFor(m => m.SampleRequests, "Samples")
    }

    <h2>Información de Respuesta</h2>
    
    <h3>Parámetros de Respuesta</h3>

    <p>@description.ResponseDescription.Documentation</p>

    @if (Model.ResourceDescription != null )
    {
        if ( Model.ResourceDescription.ModelType == typeof(IHttpActionResult) || Model.ResourceDescription.ModelType == typeof(System.Net.Http.HttpResponseMessage) ) {
            <p>Respuesta sin parámetros serializables.</p>
        } else {
            @Html.DisplayFor(m => m.ResourceDescription.ModelType, "ModelDescriptionLink", new { modelDescription = Model.ResourceDescription })
            <br /><br />
            if (Model.ResourceProperties != null)
            {
                @Html.DisplayFor(m => m.ResourceProperties, "Parameters")
            }
        }
    }
    else
    {
        <p>Ninguno.</p>
    }

    @if (Model.SampleResponses.Count > 0)
    {
        <h3>Formatos de Respuesta</h3>
        @Html.DisplayFor(m => m.SampleResponses, "Samples")
    }

</div>