<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @RenderSection("scripts", required: false)
</head>
<body>
    <header class="help-page">
        <div class="content-wrapper">
            <a href="@Url.Action("Index")">
                <span id="kms-api-logo"></span>
            </a>

            <nav>
                <ul>
                    <li>
                        @Html.ActionLink("REST API", "Index")
                    </li>
                    <li>
                        @Html.ActionLink("OAuth KMS", "Index")
                    </li>
                    <li>
                        @Html.ActionLink("Cabeceras HTTP", "Index")
                    </li>
                </ul>
            </nav>
        </div>
    </header>
    @RenderBody()
</body>
</html>