@{ LayoutValues layoutValues = ViewBag.Layout as LayoutValues; }

<!DOCTYPE html>
<html lang="@CultureInfo.CurrentCulture.TwoLetterISOLanguageName.ToLower()" data-culture-code="@CultureInfo.CurrentCulture.Name">
<head>
	<meta charset="utf-8" />
	<meta name="description" content="The description of my page" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	@* user-scalable=no << Eliminado de {viewport} cuz' then it's not responsive *@
	
	<title>KMS :: @(ViewBag.Title ?? LayoutStrings.DefaultTitle)</title>

	@* Styles *@
	@Html.RenderCssBundle("~/Assets/Stylesheets.css.bundle", BundleOptions.Combined)
	@* Scripts *@
	@Html.RenderJsBundle("~/Assets/Javascript.js.bundle", BundleOptions.Combined)
</head>
<body data-distance-unit="@(RegionInfo.CurrentRegion.IsMetric ? "kms" : "mi")" data-weight-unit="@(RegionInfo.CurrentRegion.IsMetric ? "kg" : "lb")">
	<header>
		<div class="contenedor2">
			<a href="@Url.Action("Index", "Overview", new { lang = CultureInfo.CurrentCulture.Name })">
				<h1>
					<span class="ocultar">KMS</span>
					<img src="~/Images/Header/Header.KmsLogo.png" alt="KMS">
				</h1>
			</a>
			<nav>
				<ul>
					<li>
						@Html.ActionLink(
							LayoutStrings.MyProfile,
							"Index",
							"Overview",
							null,
							new {
								@class = layoutValues.Section == LayoutValues.MainSection.MyProfile ? "active" : ""
							}
						)
					</li>
					<li>
						@Html.ActionLink(
							LayoutStrings.Tips,
							"Index",
							"Tips",
							null,
							new {
								@class = layoutValues.Section == LayoutValues.MainSection.Tips ? "active" : ""
							}
						)
					</li>
					<li>
						@Html.ActionLink(
							LayoutStrings.Rewards,
							"Index",
							"Rewards",
							null,
							new {
								@class = layoutValues.Section == LayoutValues.MainSection.Rewards ? "active" : ""
							}
						)
					</li>
					<li>
						@Html.ActionLink(
							LayoutStrings.Logout,
							"Logout",
							"Login"
						)
					</li>
				</ul>
			</nav>
		</div>
	</header>

	<div id="wrap">
		@* -- Left Sidebar --- *@
		<aside id="sidebar" style="visibility:collapse;opacity:0">
		@* - Datos generales del Usuario - *@
			<section id="Usuario">
				<h2>@layoutValues.UserName @layoutValues.UserLastname</h2>
				<figure>
					<img onclick="setKMS_userPicture()" src="@layoutValues.UserPicture.AbsoluteUri">
				</figure>
				<span class="distancia">
					@layoutValues.TotalDistance @(RegionInfo.CurrentRegion.IsMetric ? "kms" : "mi")
				</span>
				<span class="origen">
					@layoutValues.LocationString.ToUpper()
				</span>
				@using ( Html.BeginForm("UploadPicture", "Account", FormMethod.Post, new { enctype = "multipart/form-data" }) ) {
					<input type="file" name="file" />
				}
			</section>

			@* - Próxima Recompensa (o última recompensa ganada) - *@
			<section id="recompensaDash">
				@if ( layoutValues.RecentlyUnlockedReward == null ) {
					<span class="proxRecomp">@LayoutStrings.NextRewardIn.ToUpper(CultureInfo.CurrentCulture)</span>
					<span class="bandera">
						<img src="~/Images/Sidebar/Sidebar.Medal.gif" alt="">
					</span>
					<span class="kms">
						@layoutValues.NextRewardsDistanceRemaining @(RegionInfo.CurrentRegion.IsMetric ? "kms" : "mi")
					</span>
					<div id="barra">
						<div class="progreso" style="width: @((layoutValues.TotalDistanceCentimeters / layoutValues.NextRewardDistanceCentimeters) * 100)%;"></div>
					</div>
				} else {
					<img src="@layoutValues.RecentlyUnlockedReward.IconUri" alt="@layoutValues.RecentlyUnlockedReward.Title">
					<a href="@Url.Action("Detail", "Rewards", new { id = layoutValues.RecentlyUnlockedReward.RewardId })" class="botonDorado">
						@LayoutStrings.ViewReward.ToUpper()
					</a>
				}
			</section>

			<section id="tipDelDia">
				<figure>
					<img src="@layoutValues.TipOfTheDay.IconUri.AbsoluteUri" alt="@layoutValues.TipOfTheDay.Category">
				</figure>
				<h3>@LayoutStrings.TipOfTheDay.ToUpper()</h3>
				<article>
					@layoutValues.TipOfTheDay.Text
				</article>
			</section>

			<section id="redes-sidebar">
				<ul>
					<li><a href="#" class="corona"></a></li>
					<li><a href="#" class="facebook"></a></li>
					<li><a href="#" class="twitter"></a></li>
				</ul>
			</section>
		</aside>

		@* -- Body -- *@
		<section id="contenidos">
			@RenderBody()
			<div class="bottom-abajo"></div>
		</section>

		<div style="clear:both"></div>
	</div>

	<footer>
		<div class="contenedor">
			@*<nav>
				<ul>
					<li>
						@Html.ActionLink(
							LayoutStrings.FooterProduct,
							"Index",
							"Entry"
						)
					</li>
					<li>
						@Html.ActionLink(
							LayoutStrings.FooterServices,
							"Index",
							"Entry"
						)
					</li>
					<li>
						@Html.ActionLink(
							LayoutStrings.FooterStores,
							"Index",
							"Entry"
						)
					</li>
					<li>
						@Html.ActionLink(
							LayoutStrings.FooterUs,
							"Index",
							"Entry"
						)
					</li>
					<li>
						@Html.ActionLink(
							LayoutStrings.FooterKms,
							"Index",
							"Entry"
						)
					</li>
				</ul>
			</nav>*@
			<ul class="redes">
				<li>
					<a href="https://www.facebook.com/Kms.mex" target="_blank">
						<img src="~/Images/Footer/Footer.Facebook.png" alt="Facebook: KMS.mex">
					</a>
				</li>
				<li>
					<a href="https://twitter.com/kmsmex" target="_blank">
						<img src="~/Images/Footer/Footer.Twitter.png" alt="Twitter: &#64;kmsmex">
					</a>
				</li>
				<li>
					@* TODO: Establecer {subject} y {body} a texto predefinido *@
					<a href="mailto:dime@kms.me" target="_blank">
						<img src="~/Images/Footer/Footer.Mail.png" alt="Email: dime&#64;kms.me">
					</a>
				</li>
			</ul>
		</div>
	</footer>

	@* Footer Scripts (Optional) *@
	@RenderSection("FooterScripts", required: false)
</body>
</html>