@model OverviewValues

<div id="actividad">
	<div class="recorridoSueno">
		<aside class="tresCol">
			<p>
				@Model.TodaySleepTime.Hours <span class="peque">hrs</span>
				@Model.TodaySleepTime.Minutes <span class="peque">min</span>
			</p>
			<em>@OverviewStrings.TodaySleepTime.ToUpper()</em>
		</aside>
		<aside class="tresCol">
			<p>
				@Model.TodayDistance
				<span class="peque">@(RegionInfo.CurrentRegion.IsMetric ? "kms" : "mi")</span>
			</p>
			<em>@OverviewStrings.TodayTraveled.ToUpper()</em>
		</aside>
	</div>

	<aside class="equivalencias">
		<ul>
			<li>
				<figure>
					<img src="~/Images/Gui/Overview/Gui.Co2.jpg" alt="@OverviewStrings.Co2Alt">
				</figure>
				<span>
					<span class="numero">
						@Model.EquivalentCo2 @(RegionInfo.CurrentRegion.IsMetric ? "kg" : "lb")
					</span>
					<span class="leyenda">CO<sub>2</sub></span>
				</span>
			</li>
			<li>
				<figure>
					<img src="~/Images/Gui/Overview/Gui.Kcal.jpg" alt="@OverviewStrings.KcalAlt">
				</figure>
				<span>
					<span class="numero">@Model.EquivalentKcal</span>
					<span class="leyenda">kcal</span>
				</span>
			</li>
			<li>
				<figure>
					<img src="~/Images/Gui/Overview/Gui.Savings.jpg" alt="@OverviewStrings.Savings">
				</figure>
				<span>
					<span class="numero">@Model.EquivalentCash</span>
					<span class="leyenda">@OverviewStrings.Savings</span>
				</span>
			</li>
		</ul>
		<em>@OverviewStrings.Equivalence.ToUpper()</em>
	</aside>
	<section id="graficas">
		<article id="graficaDiaria">
			<span class="tituloGrafica">
				<h2>@OverviewStrings.Last24hrsGraph.ToUpper()</h2>
				<hr />
			</span>
			<canvas id="chartDiario" width="700" height="300"></canvas>
		</article>
		<article id="graficaMensual">
			<span class="tituloGrafica">
				<h2>@OverviewStrings.MonthlyGraph.ToUpper()</h2>
				<hr />
			</span>
			<canvas id="chartMensual" width="350" height="300"></canvas>
		</article>
		<article id="graficaActividad">
			<span class="tituloGrafica">
				<h2>@OverviewStrings.ActivityGraph.ToUpper()</h2>
				<hr />
			</span>
			<canvas id="chartActividad" width="250" height="200"></canvas>
			<div id="datos">
				<p>Caminando</p>
				<span class="actividadColor walking">67.6%</span>
				<p>Corriendo</p>
				<span class="actividadColor running">67.6%</span>
				<p>Sueño</p>
				<span class="suenoColor sleep">32.4 %</span>
			</div>
		</article>
	</section>
</div>

@section FooterScripts {
	@Html.RenderJsBundle("~/Assets/Overview.js.bundle", BundleOptions.Combined)
	<script type="text/javascript">doKMS_populateGraph();</script>
}