@model OverviewValues

<div id="actividad">
	<div class="recorridoSueno">
		<aside class="tresCol">
			<p>
				@Model.TodayDistance
				<span class="peque">@(RegionInfo.CurrentRegion.IsMetric ? "kms" : "mi")</span>
			</p>
			<em>@OverviewStrings.TodayTraveled.ToUpper()</em>
		</aside>
		<aside class="tresCol">
			<p>
				@Model.TodaySleepTime.Hours <span class="peque">hrs</span>
				@Model.TodaySleepTime.Minutes <span class="peque">min</span>
			</p>
			<em>@OverviewStrings.TodaySleepTime.ToUpper()</em>
		</aside>
	</div>

	<aside class="equivalencias">
		<ul>
			<li>
				<figure>
					<img src="~/Images/Gui/Overview/Gui.Co2.jpg" alt="@OverviewStrings.Co2Alt">
				</figure>
				<span>
					<span class="numero">
						@Model.EquivalentCo2 @(RegionInfo.CurrentRegion.IsMetric ? "kg" : "lb")
					</span>
					<span class="leyenda">CO<sub>2</sub></span>
				</span>
			</li>
			<li>
				<figure>
					<img src="~/Images/Gui/Overview/Gui.Kcal.jpg" alt="@OverviewStrings.KcalAlt">
				</figure>
				<span>
					<span class="numero">@Model.EquivalentKcal</span>
					<span class="leyenda">kcal</span>
				</span>
			</li>
			<li>
				<figure>
					<img src="~/Images/Gui/Overview/Gui.Savings.jpg" alt="@OverviewStrings.Savings">
				</figure>
				<span>
					<span class="numero">@Model.EquivalentCash</span>
					<span class="leyenda">@OverviewStrings.Savings</span>
				</span>
			</li>
		</ul>
		<em>@OverviewStrings.Equivalence.ToUpper()</em>
	</aside>
	<section id="graficas">
		<article id="graficaPrincipal">
			<span class="tituloGrafica">
				<h2>@OverviewStrings.Last24hrsGraph.ToUpper()</h2>
				<hr />
			</span>

			@if ( Model.LastSyncDateTime < DateTime.UtcNow.AddDays(-7) ) {
				<div class="ui-widget">
					<div class="ui-state-error ui-corner-all">
						<p>
							<strong>¡ATENCIÓN!</strong> No has sincronizado tu pulsera desde hace
							@Math.Floor((Model.LastSyncDateTime - DateTime.UtcNow).TotalDays) días, todos los
							kilómetros que sumaste antes del @DateTime.UtcNow.AddDays(-7).ToString("m", CultureInfo.CurrentUICulture)
							y que no sincronizaste se han perdido por completo. Sincroniza ahora para evitar
							seguir perdiendo kilómetros.
						</p>
					</div>
				</div>
			} else if ( Model.LastSyncDateTime < DateTime.UtcNow.AddDays(-6) ) {
				<div class="ui-widget">
					<div class="ui-state-error ui-corner-all">
						<p>
							<strong>¡CUIDADO!</strong> No has sincronizado tu pulsera desde hace casi una semana. Los
							kilómetros que hayas acumulado el @CultureInfo.CurrentUICulture.DateTimeFormat.GetDayName(DateTime.UtcNow.DayOfWeek)
							pasado <strong>se perderán si no sincronizas hoy</strong>.
						</p>
					</div>
				</div>
			} else if ( Model.LastSyncDateTime < DateTime.UtcNow.Date.AddDays(-1) ) {
				<div class="ui-widget">
					<div class="ui-state-highlight ui-corner-all">
						<p>
							Parece que no has sincronizado tu pulsera el día de hoy. ¡Recuerda que cada kilómetro cuenta!
						</p>
					</div>
				</div>
			}

			<div id="graficaPrincipalTabs">
				<ul>
					<li><a href="#graficaPorHora">Por Hora</a></li>
					<li><a href="#graficaPorDia">Por Día</a></li>
				</ul>

				<div id="graficaPorHora">
					<div class="graph-button">
						Visualizando detalle para el día:
						<input type="text" />
						<button>...</button>
					</div>
					<div class="graph"></div>
				</div>
				<div id="graficaPorDia">
					<div class="graph-button">
						Visualizando detalle para el mes de:
						<input type="text" />
						<button>...</button>
					</div>
					<div class="graph"></div>
				</div>
			</div>
		</article>
		<article id="graficaMensual">
			<span class="tituloGrafica">
				<h2>@OverviewStrings.MonthlyGraph.ToUpper()</h2>
				<hr />
			</span>
			<canvas id="chartMensual" width="350" height="300"></canvas>
		</article>
		<article id="graficaActividad">
			<span class="tituloGrafica">
				<h2>@OverviewStrings.ActivityGraph.ToUpper()</h2>
				<hr />
			</span>
			<canvas id="chartActividad" width="250" height="200"></canvas>
			<div id="datos">
				<p>Caminando</p>
				<span class="actividadColor walking">...</span>
				<p>Corriendo</p>
				<span class="actividadColor running">...</span>
				<p>Sueño</p>
				<span class="actividadColor sleep">...</span>
			</div>
		</article>
	</section>
</div>

@section FooterScripts {
	@Html.RenderJsBundle("~/Assets/Overview.js.bundle", BundleOptions.Combined)
}