@model FriendsValues

<span class="tituloGrafica">
    <h2>
        <img src="~/Images/Gui/Gui.MiniMedal.jpg">@FriendsStrings.FriendRequests.ToUpper()
    </h2>
    <hr>
</span>
<section id="solicitudes">
    <article class="solicitudItem template"
             style="display:none"
             data-uid=""
             data-total-distance="0"
             data-total-co2="0"
             data-total-kcal="0"
             data-total-cash="0">
        <figure>
            <img src="" alt="">
        </figure>
        <div class="info">
            <h4></h4>
            <span class="kms"></span>
            <a href="#" class="btn aceptar">@FriendsStrings.AcceptRequest.ToUpper()</a>
            <a href="#" class="btn rechazar">@FriendsStrings.RejectRequest.ToUpper()</a>
        </div>
    </article>

    @foreach ( var friend in Model.FriendRequests ) {
    <article class="solicitudItem"
             data-uid="@friend.UserId"
             data-total-distance="@friend.TotalDistance"
             data-total-co2="@friend.TotalCo2"
             data-total-kcal="@friend.TotalKcal"
             data-total-cash="@friend.TotalCash">
        <figure>
            <img src="@friend.PictureUri.AbsoluteUri" alt="@friend.Name @friend.LastName">
        </figure>
        <div class="info">
            <h4>@friend.Name @friend.LastName</h4>
            <span class="kms">
                @friend.TotalDistance @(RegionInfo.CurrentRegion.IsMetric ? "KMS" : "MI")
            </span>
            <a href="#" class="btn aceptar">@FriendsStrings.AcceptRequest.ToUpper()</a>
            <a href="#" class="btn rechazar">@FriendsStrings.RejectRequest.ToUpper()</a>
        </div>
    </article>
}
</section>

<span class="tituloGrafica">
    <h2>
        <img src="~/Images/Gui/Gui.MiniMedal.jpg">@FriendsStrings.YourFriends.ToUpper()
    </h2>
    <hr>
</span>
<span class="amigosCant">
    @string.Format(FriendsStrings.TotalFriends, Model.TotalFriends)
</span>
<section id="amigos" data-total-count="@Model.TotalFriends">
    <article class="amigosItem template"
             style="display:none"
             data-uid="null"
             data-total-distance="0"
             data-total-co2="0"
             data-total-kcal="0"
             data-total-cash="0">
        <figure>
            <img src="" alt="">
        </figure>
        <div class="info">
            <h4></h4>
            <span class="kms"></span>
        </div>
    </article>

    @foreach ( var friend in Model.Friends ) {
        <article class="amigosItem"
                 data-uid="@friend.UserId"
                 data-total-distance="@friend.TotalDistance"
                 data-total-co2="@friend.TotalCo2"
                 data-total-kcal="@friend.TotalKcal"
                 data-total-cash="@friend.TotalCash">
            <figure>
                <img src="@friend.PictureUri.AbsoluteUri" alt="">
            </figure>
            <div class="info">
                <h4>@friend.Name @friend.LastName</h4>
                <span class="kms">
                    @friend.TotalDistance @(RegionInfo.CurrentRegion.IsMetric ? "KMS" : "MI")
                </span>
            </div>
        </article>
    }

    <div class="amigosComparativa" style="display:none">
        <aside class="tresCol">
            <p>510 KMS</p>
            <em>ACUMULADOS</em>
        </aside>
        <aside class="equivalencias">
            <ul>
                <li>
                    <figure>
                        <img src="img/co2.jpg" alt="">
                    </figure>
                    <span>
                        <span class="leyenda">CO<sub>2</sub></span>
                        <span class="numero">100,384</span>
                    </span>
                </li>
                <li>
                    <figure>
                        <img src="img/kcal.jpg" alt="">
                    </figure>
                    <span>
                        <span class="leyenda">kcal</span>
                        <span class="numero">5500</span>
                    </span>
                </li>
                <li>
                    <figure>
                        <img src="img/ahorro.jpg" alt="">
                    </figure>
                    <span>
                        <span class="leyenda">@FriendsStrings.Savings</span>
                        <span class="numero">$43.5</span>
                    </span>
                </li>
            </ul>
            <em>Equivalencias</em>
        </aside>
    </div>
</section>

<br />
@if ( Model.TotalFriends > 18 ) {
    <a id="amigosVerMas" href="#" class="btn centro">
        <img style="display:none" src="~/Images/Gui/Friends/Gui.Downloading.gif" alt="..." />
        <span>@FriendsStrings.SeeMore</span>
    </a>
} else {
    <a id="amigosVerMas" href="#" class="btn centro" style="display:none">@FriendsStrings.SeeMore</a>
}

@section Scripts {
    @Html.RenderJsBundle("~/Assets/Friends.js.bundle", BundleOptions.Combined)
}